.geocoder-containet-vite-parent {
  position: static;
}
.geocoder-container-vite-control {
  position: absolute;
  /* width: -webkit-fill-available; */
  z-index: 999;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: -10px;
  margin-left: -10px;
  max-width: 300px;
}
.geoapify-autocomplete-input {
  padding: 0 31px 0 7px;
  /* width: calc(100% - 40px); */
  outline: none;
  line-height: 36px;
  height: 36px;
  border: none;
  font-size: 14px;
  display: flow-root;
  /* width: auto; */
  min-width: 150px;
  max-width: 350px;
  width: 260px;
}

.geoapify-autocomplete-items {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  background-color: #fff;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  display: flow-root;
}

.geoapify-autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.geoapify-autocomplete-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.geoapify-autocomplete-items .active {
  background-color: rgba(0, 0, 0, 0.1);
}

.geoapify-autocomplete-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.geoapify-autocomplete-item .icon {
  display: inline-block;
  width: 40px;
  height: 24px;
  color: #aaa;
}

.geoapify-autocomplete-item .icon.emoji {
  color: unset;
  font-size: 20px;
  opacity: 0.9;
}

.geoapify-close-button {
  position: absolute;
  right: 5px;
  top: 0;

  height: 100%;
  display: none;
  align-items: center;
}

.geoapify-close-button.visible {
  display: flex;
  position: absolute;
  z-index: 99;
}

.geoapify-close-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.geoapify-close-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.geoapify-autocomplete-items .secondary-part {
  margin-left: 10px;
  font-size: small;
  color: rgba(0, 0, 0, 0.6);
}
